<div class="container team-container">
    <div class="d-flex flex-column align-items-center team-title">
        <h2 class="title">OUR TEAM</h2>
        <h4 class="subtitle">Learn more about our amazing team of professionals</h4>
    </div>
    <div class="d-flex flex-wrap justify-content-center">
        <div class="p-10">
            <div>
                <div class="image-container">
                    <img class="imagefield imagefield-field_team_member_photo" width="250" height="300" alt="Photo of team member" src="https://www.mustardseedfinancial.com/sites/default/files/users/msfwm2/images/DA-min_0.jpg?1629909618">
                </div>
                <div class="team-member-info">
                    <span class="field-content">
                        <h3 class="fs-28">Lily Zeng</h3>
                    </span>
                </div>
                <div class="team-member-designation">
                    <span class="field-content">
                        <h4 class="fs-18">Professor</h4>
                    </span>
                </div>
            </div>
        </div>
        <div class="p-10">
            <div>
                <div class="image-container">
                    <img class="imagefield imagefield-field_team_member_photo" width="250" height="300" alt="Photo of team member" src="https://www.mustardseedfinancial.com/sites/default/files/users/msfwm2/images/JB-min%20%281%29.jpg?1600871815">
                </div>
                <div class="team-member-info">
                    <span class="field-content">
                        <h3 class="fs-28">Bruce Butterfield</h3>
                    </span>
                </div>
                <div class="team-member-designation">
                    <span class="field-content">
                        <h4 class="fs-18">Professor</h4>
                    </span>
                </div>
            </div>
        </div>
        <div class="p-10">
            <div>
                <div class="image-container">
                    <img class="imagefield imagefield-field_team_member_photo" width="250" height="300" alt="Photo of team member" src="https://www.mustardseedfinancial.com/sites/default/files/users/msfwm2/images/AE-min.jpg?1629909728">
                </div>
                <div class="team-member-info">
                    <span class="field-content">
                        <h3 class="fs-28">Angie Glass</h3>
                    </span>
                </div>
                <div class="team-member-designation">
                    <span class="field-content">
                        <h4 class="fs-18">Professor</h4>
                    </span>
                </div>
            </div>
        </div>
        <div class="p-10">
            <div>
                <div class="image-container">
                    <img class="imagefield imagefield-field_team_member_photo" width="250" height="300" alt="Photo of team member" src="https://www.mustardseedfinancial.com/sites/default/files/users/msfwm2/images/MG2-min.jpg?1600872030">
                </div>
                <div class="team-member-info">
                    <span class="field-content">
                        <h3 class="fs-28">Jen Milam</h3>
                    </span>
                </div>
                <!-- <div class="team-member-designation">
                    <span class="field-content">
                        <h4>Professor</h4>
                    </span>
                </div> -->
            </div>
        </div>
        <div class="p-10">
            <div>
                <div class="image-container">
                    <img class="imagefield imagefield-field_team_member_photo" width="250" height="300" alt="Photo of team member" src="https://www.mustardseedfinancial.com/sites/default/files/users/msfwm2/images/DA-min_0.jpg?1629909618">
                </div>
                <div class="team-member-info">
                    <span class="field-content">
                        <h3 class="fs-28">Lily Zeng</h3>
                    </span>
                </div>
                <div class="team-member-designation">
                    <span class="field-content">
                        <h4 class="fs-18">Professor</h4>
                    </span>
                </div>
            </div>
        </div>
        <div class="p-10">
            <div>
                <div class="image-container">
                    <img class="imagefield imagefield-field_team_member_photo" width="250" height="300" alt="Photo of team member" src="https://www.mustardseedfinancial.com/sites/default/files/users/msfwm2/images/JB-min%20%281%29.jpg?1600871815">
                </div>
                <div class="team-member-info">
                    <span class="field-content">
                        <h3 class="fs-28">Lily Zeng</h3>
                    </span>
                </div>
                <div class="team-member-designation">
                    <span class="field-content">
                        <h4 class="fs-18">Professor</h4>
                    </span>
                </div>
            </div>
        </div>
        <div class="p-10">
            <div>
                <div class="image-container">
                    <img class="imagefield imagefield-field_team_member_photo" width="250" height="300" alt="Photo of team member" src="https://www.mustardseedfinancial.com/sites/default/files/users/msfwm2/images/AE-min.jpg?1629909728">
                </div>
                <div class="team-member-info">
                    <span class="field-content">
                        <h3 class="fs-28">Lily Zeng</h3>
                    </span>
                </div>
                <div class="team-member-designation">
                    <span class="field-content">
                        <h4 class="fs-18">Professor</h4>
                    </span>
                </div>
            </div>
        </div>
        <div class="p-10">
            <div>
                <div class="image-container">
                    <img class="imagefield imagefield-field_team_member_photo" width="250" height="300" alt="Photo of team member" src="https://www.mustardseedfinancial.com/sites/default/files/users/msfwm2/images/MG2-min.jpg?1600872030">
                </div>
                <div class="team-member-info">
                    <span class="field-content">
                        <h3 class="fs-28">Anand Galla</h3>
                    </span>
                </div>
                <div class="team-member-designation">
                    <span class="field-content">
                        <h4 class="fs-18">Professor</h4>
                    </span>
                </div>
            </div>
        </div>



        <div class="p-10">
            <div>
                <div class="image-container">
                    <img class="imagefield imagefield-field_team_member_photo" width="250" height="300" alt="Photo of team member" src="https://www.mustardseedfinancial.com/sites/default/files/users/msfwm2/images/DA-min_0.jpg?1629909618">
                </div>
                <div class="team-member-info">
                    <span class="field-content">
                        <h3 class="fs-28">Lily Zeng</h3>
                    </span>
                </div>
                <div class="team-member-designation">
                    <span class="field-content">
                        <h4 class="fs-18">Professor</h4>
                    </span>
                </div>
            </div>
        </div>
        <div class="p-10">
            <div>
                <div class="image-container">
                    <img class="imagefield imagefield-field_team_member_photo" width="250" height="300" alt="Photo of team member" src="https://www.mustardseedfinancial.com/sites/default/files/users/msfwm2/images/DA-min_0.jpg?1629909618">
                </div>
                <div class="team-member-info">
                    <span class="field-content">
                        <h3 class="fs-28">Lily Zeng</h3>
                    </span>
                </div>
                <div class="team-member-designation">
                    <span class="field-content">
                        <h4 class="fs-18">Professor</h4>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>