<div class="container team-container">
    <div class="d-flex flex-column align-items-center team-title">
        <h2 class="title">OUR TEAM</h2>
        <h4 class="subtitle">Learn more about our amazing team of professionals</h4>
    </div>
    <div class="d-flex flex-wrap justify-content-center">
        <div class="col-sm-3 mb-40">
            <div class="d-flex flex-column align-items-center">
                <div class="image-container">
                    <img class="imagefield imagefield-field_team_member_photo" width="250" height="300" alt="Photo of team member" src="assets/images/Brad_Rawlins.jpeg">
                </div>
                <div class="team-member-info">
                    <span class="field-content">
                        <h3 class="fs-20">DR. BRAD RAWLINS</h3>
                    </span>
                </div>
                <div class="team-member-designation">
                    <span class="field-content">
                        <h4 class="fs-16">Director, Professor</h4>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-40">
            <div class="d-flex flex-column align-items-center">
                <div class="image-container">
                    <img class="imagefield imagefield-field_team_member_photo" width="250" height="300" alt="Photo of team member" src="assets/images/Zeng_Lily.jpeg">
                </div>
                <div class="team-member-info">
                    <span class="field-content">
                        <h3 class="fs-20">DR. LILY ZENG</h3>
                    </span>
                </div>
                <div class="team-member-designation">
                    <span class="field-content">
                        <h4 class="fs-16">Professor</h4>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-40">
            <div class="d-flex flex-column align-items-center">
                <div class="image-container">
                    <img class="imagefield imagefield-field_team_member_photo" width="250" height="300" alt="Photo of team member" src="assets/images/mary-pitts.jpeg">
                </div>
                <div class="team-member-info">
                    <span class="field-content">
                        <h3 class="fs-20">DR. MARY JACKSON PITTS</h3>
                    </span>
                </div>
                <div class="team-member-designation">
                    <span class="field-content">
                        <h4 class="fs-16">Professor</h4>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-40">
            <div class="d-flex flex-column align-items-center">
                <div class="image-container">
                    <img class="imagefield imagefield-field_team_member_photo" width="250" height="300" alt="Photo of team member" src="assets/images/Kim_McDaniels.jpeg">
                </div>
                <div class="team-member-info">
                    <span class="field-content">
                        <h3 class="fs-20">KIMBERLY MCDANIELS</h3>
                    </span>
                </div>
                <div class="team-member-designation">
                    <span class="field-content">
                        <h4 class="fs-16">Administrative Specialist</h4>
                    </span>
                </div>
            </div>
        </div>
        
        <div class="col-md-3 mb-40">
            <div class="d-flex flex-column align-items-center">
                <div class="image-container">
                    <img class="imagefield imagefield-field_team_member_photo" width="250" height="300" alt="Photo of team member" src="assets/images/Mishra_Pradeep.jpeg">
                </div>
                <div class="team-member-info">
                    <span class="field-content">
                        <h3 class="fs-20">PRADEEP MISHRA</h3>
                    </span>
                </div>
                <div class="team-member-designation">
                    <span class="field-content">
                        <h4 class="fs-16">Director of Printing Services Instructor</h4>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-40">
            <div class="d-flex flex-column align-items-center">
                <div class="image-container">
                    <img class="imagefield imagefield-field_team_member_photo" width="250" height="300" alt="Photo of team member" src="assets/images/michael-bowman.jpeg">
                </div>
                <div class="team-member-info">
                    <span class="field-content">
                        <h3 class="fs-20">DR. MIKE BOWMAN</h3>
                    </span>
                </div>
                <div class="team-member-designation">
                    <span class="field-content">
                        <h4 class="fs-16">Associate Professor</h4>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-40">
            <div class="d-flex flex-column align-items-center">
                <div class="image-container">
                    <img class="imagefield imagefield-field_team_member_photo" width="250" height="300" alt="Photo of team member" src="assets/images/Derek.jpeg">
                </div>
                <div class="team-member-info">
                    <span class="field-content">
                        <h3 class="fs-20">DEREK HERRING</h3>
                    </span>
                </div>
                <div class="team-member-designation">
                    <span class="field-content">
                        <h4 class="fs-16">Broadcast Production Specialist</h4>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-40">
            <div class="d-flex flex-column align-items-center">
                <div class="image-container">
                    <img class="imagefield imagefield-field_team_member_photo" width="250" height="300" alt="Photo of team member" src="assets/images/Clayton.jpeg">
                </div>
                <div class="team-member-info">
                    <span class="field-content">
                        <h3 class="fs-20">CLAYTON HOLDERFIELD</h3>
                    </span>
                </div>
                <div class="team-member-designation">
                    <span class="field-content">
                        <h4 class="fs-16">Broadcast Production Specialist</h4>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>