<div class="footer-container">
    <div class="container">
        <div class="footer-nav">
            <ul class="d-flex align-items-center">
                <li>
                    <a href="/#">Sitemap</a>
                </li>
                <li>
                    <a href="#">Legal, privacy, copyright and trademark information</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="copyright-container">
    <div class="container">
        <p>2021 Media And Jourlism. All rights reserved.</p>
    </div>
</div>