<div class="footer-container">
    <div class="container">
        <div class="footer-nav">
            <ul class="d-flex flex-wrap align-items-center">
                <li class="my-10">
                    <a href="/#">Sitemap</a>
                </li>
                <li class="my-10">
                    <a href="#">Legal, privacy, copyright and trademark information</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="copyright-container">
    <div class="container align-items-center justify-content-center">
        <p>2021 Media And Jourlism. All rights reserved.</p>
    </div>
</div>