<div class="container py-10">
    <div class="d-flex flex-column align-items-center justify-content-center service-title">
        <h2>OUR SERVICES</h2>
        <h4>There are many financial products and services in the market. Choosing the ones that best meet a client’s needs can be complicated. Here are some of the areas where we can help.</h4>
    </div>
    <div class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="service-container">
                    <div class="left-container">
                        <div class="icon">
                            <i class="fa fa-line-chart"></i>
                        </div>
                    </div>
                    <div class="right-container">
                        <h4><strong>Investment Planning</strong></h4>
                        <p>Investments can play a key role in your wealth management plan. A well-diversified portfolio of high value funds can help you meet your goals.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="service-container">
                    <div class="left-container">
                        <div class="icon">
                            <i class="fa fa-line-chart"></i>
                        </div>
                    </div>
                    <div class="right-container">
                        <h4><strong>Investment Planning</strong></h4>
                        <p>Investments can play a key role in your wealth management plan. A well-diversified portfolio of high value funds can help you meet your goals.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="service-container">
                    <div class="left-container">
                        <div class="icon">
                            <i class="fa fa-line-chart"></i>
                        </div>
                    </div>
                    <div class="right-container">
                        <h4><strong>Investment Planning</strong></h4>
                        <p>Investments can play a key role in your wealth management plan. A well-diversified portfolio of high value funds can help you meet your goals.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="service-container">
                    <div class="left-container">
                        <div class="icon">
                            <i class="fa fa-line-chart"></i>
                        </div>
                    </div>
                    <div class="right-container">
                        <h4><strong>Investment Planning</strong></h4>
                        <p>Investments can play a key role in your wealth management plan. A well-diversified portfolio of high value funds can help you meet your goals.</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
