<div class="container py-10 mb-40">
    <div class="d-flex flex-column align-items-center justify-content-center service-title">
        <h2>OUR SERVICES</h2>
        <h4>There are many financial products and services in the market. Choosing the ones that best meet a client’s needs can be complicated. Here are some of the areas where we can help.</h4>
    </div>
    <div class="content">
        <div class="d-flex flex-wrap">
            <div class="col-md-3">
                <div class="service-container">
                    <div class="left-container">
                        <div class="icon">
                            <i class="fa fa-line-chart"></i>
                        </div>
                    </div>
                    <div class="right-container">
                        <h4><strong>Investment Planning</strong></h4>
                        <p>Investments can play a key role in your wealth management plan. A well-diversified portfolio of high value funds can help you meet your goals.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="service-container">
                    <div class="left-container">
                        <div class="icon">
                            <i class="fa fa-line-chart"></i>
                        </div>
                    </div>
                    <div class="right-container">
                        <h4><strong>Tax Planning</strong></h4>
                        <p>IManaging your finances is an important component to any financial security plan. Money management strategies help you manage your savings on a daily basis.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="service-container">
                    <div class="left-container">
                        <div class="icon">
                            <i class="fa fa-line-chart"></i>
                        </div>
                    </div>
                    <div class="right-container">
                        <h4><strong>Insurance Planning</strong></h4>
                        <p>Insurance is essential to any comprehensive plan. It can protect you and your family from undue hardship.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="service-container">
                    <div class="left-container">
                        <div class="icon">
                            <i class="fa fa-line-chart"></i>
                        </div>
                    </div>
                    <div class="right-container">
                        <h4><strong>Retirement Plan Rollovers</strong></h4>
                        <p>When the time comes for you to make the transition from your career to retirement, we will be there to help you structure a retirement income plan that works for you.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="service-container">
                    <div class="left-container">
                        <div class="icon">
                            <i class="fa fa-line-chart"></i>
                        </div>
                    </div>
                    <div class="right-container">
                        <h4><strong>Charitable Giving</strong></h4>
                        <p>For clients who are charitably minded, we help make your gifts as impactful as possible.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="service-container">
                    <div class="left-container">
                        <div class="icon">
                            <i class="fa fa-line-chart"></i>
                        </div>
                    </div>
                    <div class="right-container">
                        <h4><strong>Foundation Asset Management</strong></h4>
                        <p>Clients who have a fiduciary responsibility to their organization are seeking an advisor with the same standard of care. We can give you the objective advice you need to ensure the organization’s goals are met.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
