.service-title {
    margin-top: 20px;
    margin-bottom: 20px;

    h2 {
        font-weight: 700;
        font-size: 41px;
        line-height: 1.5;
        letter-spacing: -1px;
        margin-bottom: 0;
        color: #040707;
        text-transform: uppercase;
    }

    h4 {
        font-size: 20px;
        font-weight: 300;
        line-height: 1.5;
        margin-top: 0;
        color: #040707;
        text-align: center;
    }
    
}

.service-container {
    margin-bottom: 30px;
    position: relative;
}