<div id="carouselExampleIndicators" class="carousel slide slideshow-container" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="assets/images/banner1.jpeg" alt="First slide">
        <div class="centered">
            <div class="head-caption" id="animate">
                <h3 class="all-caps">We Help You</h3>
                <h1 class="all-caps">Make Wise Decisions</h1>
                <p>With your money so that you can spend your time doing what you love.</p>
            </div>
        </div>
      </div>
      <div class="carousel-item" id="animate">
        <img class="d-block w-100" src="assets/images/banner2.jpeg" alt="Second slide">
        <div class="centered">
            <div class="head-caption">
                <h3 class="all-caps">Give Us a Call Today</h3>
                <h1 class="all-caps">Let Us Show You the Mustard Seed Difference</h1>
                <p>Explore our website to discover the many ways that we can add value to your life.</p>
            </div>
        </div>
      </div>
      <div class="carousel-item" id="animate">
        <img class="d-block w-100" src="assets/images/banner3.jpeg" alt="Third slide">
        <div class="centered">
            <div class="head-caption">
                <h3 class="all-caps">You’ve Got Questions</h3>
                <h1 class="all-caps">We’ve Got Answers</h1>
                <p>We offer advice and solutions for investment management, tax planning, retirement planning, insurance, estate planning, and charitable gifting.</p>
            </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>